.image-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 30px;
}

.image-gallery > li {
  flex: auto;
  height: 100px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.image-gallery::after {
  content: "";
  flex-grow: 999;
}

.image-gallery li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
}
.progress {
    display: flex;
    height: 8px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #443A3A;
    border-radius: 0.25rem;
}
.progress__bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222;
    text-align: center;
    background-color: #F2EAE2;
    transition: width .6s ease;
}
.progress-container {
    display: flex;
    align-items: center;
}

.progress-progress {
  position: relative;
  flex-grow: 1;
}

.progress-progress__text {
  position: absolute;
  line-height: 40px;
  top:-40px;
}

.progress-images {
  width: 120px;
  height: 120px;
  position: relative;
}

.progress-images__image {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 10px;
  top: 20px;
  transform: rotate(var(--angle));
  background-position: center;
  background-size: cover;
}

@keyframes fade-in-expand {
  0% {
    opacity: 0;
    transform: rotate(var(--angle)) scale(1.3);
  }
  100% {
    opacity: 1;
    transform: rotate(var(--angle)) scale(1);
  }
}

.progress-images__count {
  position: absolute;
  text-align: center;
  top: 0;
  left: 70px;
  background-color: #DDD2C0;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  line-height: 29px;
  color: #443A3A;
}

.progress-cancel__button {
  background-color: #443A3A;
  color: #F2EAE2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.image-gallery__item {
  position: relative;
  display: inline-block;
  border: 2px solid transparent;
  box-sizing: content-box;
  max-width: 200px;
  max-height: 200px;
}

.image-gallery__item--pending {
  max-width: 100px;
  max-height: 100px;
}


.image-gallery__item--success {
  border-color: green;
}

.image-gallery__item--error {
  border-color: red;
}

.image-gallery__item img {
  max-width: 100%;
  max-height: 100%;
}
*/
.image-gallery__item .progress-bar {
  position: absolute;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 12px;
  border-radius: 12px;
  text-align: center;
}

.hidden-input {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}